* {
    font-family: Helvetica, Arial, sans-serif; 
}

body {
    margin: 0;
}

/*Start header section*/
.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding: auto 100px;
    padding-left: 100px;
    padding-right: 100px;   
}

.hlogo {
    font-size: 24px;
    font-style: #F9faf8;
    font-weight: bold;
}



.linklist {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
/* End of header section */



/*Start hero section */

.herosegment {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;

}

.herosegment .heropanel,.imagepanel {
    flex: 1;
    width: 300px;
    margin: 50px;
}

.herosegment .heropanel {
    margin-left: 100px;
}

.heropanel {
    width: 400px;

}

.heropanel h1 {
    font-size: 48px;
    font-weight: 800;
}
.heropanel p, .linklist {
    font-size: 18px;
    font-style: #e5e7eb;
}

.heropanel button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    border-color: #3882F6;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.imagepanel img{
    width: 600px;
    height: 200px;
}

/*End hero section */


/*Start information section */

.infopanel {
    align-items: center;
}
.infopanel h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: #1f2937;
    text-align: center;
    margin: 30px auto;
}

.imageboxes {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

}

.imageboxes img {
    width: auto;
    height: 150px;
    border-radius: 10px;
    border:5px solid #3882F6;
    margin: auto 20px;
}


/*End information section */


/*Start quote section*/

.testimonial {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px 400px;
    margin-top: 100px;
}

.testimonial .author {
    font-weight: bold;
    text-align: right;
}

/*End quote section */